.navbar {
  /* Your CSS styles here */
  /* For example: */
  background-color: #1d1f25;
  padding: 10px;
  margin-top: 0;
  padding-top: 0;
}

.custom-hr {
  background-color: white;
  border: none;
  height: 2px;
  margin: 0;
  padding: 0;
}
.navbar .navbar-brand {
  font-family: Clash Display;
  font-style: bold;
  font-size: 24px;
  line-height: 100%;
  align-items: Left;
  vertical-align: Top;
  color: #ffbb29;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 36px;
}

.navbar .navbar-nav .nav-item .nav-link .rounded-circle {
  color: #ffffff;
  font-weight: bold;
  padding: 41px 40px 40px 40px;
}
.navbar .container-fluid .input-group .custom-search {
  width: 448px;
  background-color: #282c38;
  padding-left: 36px;
}
.navbar .container-fluid .input-group .custom-search::placeholder {
  color: #757b8c;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #ffbb29;
}
.navbar .container-fluid .navbar-nav .nav-item .custom-icon {
  color: #757b8c;
  transform: scale(1.4);
}
.navbar .container-fluid .navbar-nav .nav-item .custom-icon:hover {
  color: #ffbb29;
}
.navbar .container-fluid .navbar-nav .nav-item .custom-th{
  color: #ffbb29;
}